@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

body {
  font-family: "Limelight", sans-serif;
  margin: 0;
  background-color: #fbba00;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.header {
  background-color: #990b2c;
  color: white;
  padding: 30px;
  margin-bottom: 10px;

  h1 {
    font-size: 40px;
    margin: 0;
  }
}

input::file-selector-button {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid white;
}

.file-container {
  background-color: #990b2c;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.image {
  width: 300px;
}

.images-collection {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem 2rem;

  img {
    align-self: center;
    justify-self: center;
  }
}
